.home-container {
  background-color: #eff6e1;
}

.home-container h1 {
  background-color: #5a8391;
}

.players {
  align-items: center;
  color: #5a8391;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
  margin-bottom: 200px;
}

.players p {
  margin: 5px;
  width: 30%;
}

.players p:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.search {
  text-indent: 2px;
}
