.players {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
  margin-bottom: 200px;
}

.players p {
  margin: 5px;
  width: 30%;
}

.players p:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
