.home-container {
  background-color: #eff6e1;
}

.home-container h1 {
  background-color: #5a8391;
  padding: 5px;
}

.players {
  align-items: center;
  color: #5a8391;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
  margin-bottom: 200px;
}

.players p {
  margin: 5px;
  width: 30%;
}

.players p:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.search {
  text-indent: 2px;
}

.current-selection-arrow {
  background-color: #5b8390;
  bottom: 0;
  color: #fc6059;
  cursor: pointer;
  font-size: 1.5vw;
  height: 25px;
  position: fixed;
  width: 50%;
}
