.current-selection {
  align-items: center;
  animation: 1s slidein;
  background-color: rgba(50, 50, 50, 0.6);
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 250px;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  transition: 0.5s ease-in;
  width: 50%;
}

@keyframes slidein {
  from {
    margin-bottom: -250px;
  }
  to {
    margin-bottom: 0;
  }
}

.error-text {
  color: red;
}

.team-name {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  text-indent: 5px;
  width: 40%;
}

.team-name::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .9);
}

.create-team-button {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 16px;
  height: 25px;
  outline: none;
  width: 20%;
}

.create-team-button:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
