* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.collapsed-sidebar {
  background-color: #fa615d;
  height: 20vh;
  position: fixed;
  right: 0px;
  text-orientation: vertical;
  top: 40vh;
  width: 2vw;
}

.vertical-text {
  color: #eef5dc;
  transform: rotate(90deg);
  transform-origin: top 0 left 30;
}

.vertical-text:hover {
  cursor: pointer;
}
