.welcome-container {
  align-items: center;
  background-color: #598392;
  color: #eff6e0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
}

.login-link {
  height: 3vw;
  width: 50vw;
  outline: none;
}

.login-link:hover {
  cursor: pointer;
}
